<a href="https://colab.research.google.com/github/izzymercer/izzymercer.github.io/blob/main/chart2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests, pandas as pd

In [ ]:
df=pd.read_html('https://gain-new.crc.nd.edu/ranking/readiness')

In [ ]:
df2 = df[0]

In [ ]:
df3 = df2.drop(['Income group', 'Rank'], axis=1)

In [ ]:
print(df3)

                    Country  Score
0                 Singapore  0.804
1                   Denmark  0.775
2                    Norway  0.765
3                   Finland  0.751
4                    Monaco  0.747
..                      ...    ...
187                 Eritrea  0.212
188  Dem. Rep. of the Congo  0.208
189                    Chad  0.192
190               Venezuela  0.190
191    Central African Rep.  0.136

[192 rows x 2 columns]

In [ ]:
#only keep countries in Sub Sahrahn Africa - looked up the code to do this and this is what came up but dosen't seem to work

countries_to_keep = ['Angola', 'Benin', 'Burundi', 'Ghana','Liberia', 'Mozambique', 'Sierra Leone', 'South Sudan', 'Togo', 'Uganda', 'Zambia',  'Senegal', 'Ethiopia', 'Lesotho', 'Mali', 'Zimbabwe', 'Namibia', 'Central African Republic', 'Eswatini', 'Gambia',  'Guinea', 'Madagascar', 'Nigeria', 'Botswana', 'Chad', 'Cabo Verde', 'Kenya', 'Mauritius', 'Malawi', 'Rwanda']

mask = df3['Country'].isin(countries_to_keep)

filtered_df = df3[mask]

print(filtered_df)

          Country  Score
31      Mauritius  0.568
85       Botswana  0.433
89         Rwanda  0.426
108       Namibia  0.377
123         Ghana  0.351
125       Senegal  0.350
126          Togo  0.349
132         Benin  0.337
139        Gambia  0.329
142        Zambia  0.321
144  Sierra Leone  0.316
145        Guinea  0.313
148       Lesotho  0.311
150      Ethiopia  0.306
153         Kenya  0.299
156          Mali  0.292
159        Malawi  0.288
160        Uganda  0.288
167       Liberia  0.278
171    Mozambique  0.269
172       Burundi  0.268
174    Madagascar  0.266
175        Angola  0.263
178       Nigeria  0.251
186      Zimbabwe  0.216
189          Chad  0.192

In [ ]:
df4=pd.read_html('https://gain-new.crc.nd.edu/ranking/vulnerability')

In [ ]:
df5 = df4[0]

In [ ]:
df6 = df5.drop(['Income group', 'Rank'], axis=1)

In [ ]:
print(df6)

            Country  Score
0       Switzerland  0.255
1            Norway  0.257
2           Austria  0.284
3           Germany  0.293
4    United Kingdom  0.296
..              ...    ...
187       Kiribati*      -
188          Nauru*      -
189          Palau*      -
190        Andorra*      -
191  Liechtenstein*      -

[192 rows x 2 columns]

In [ ]:
#only keep countries in Sub Sahrahn Africa - looked up the code to do this and this is what came up but dosen't seem to work

countries_to_keep = ['Angola', 'Benin', 'Burundi', 'Ghana','Liberia', 'Mozambique', 'Sierra Leone', 'South Sudan', 'Togo', 'Uganda', 'Zambia',  'Senegal', 'Ethiopia', 'Lesotho', 'Mali', 'Zimbabwe', 'Namibia', 'Central African Republic', 'Eswatini', 'Gambia',  'Guinea', 'Madagascar', 'Nigeria', 'Botswana', 'Chad', 'Cabo Verde', 'Kenya', 'Mauritius', 'Malawi', 'Rwanda']

mask = df6['Country'].isin(countries_to_keep)

filtered_df1 = df6[mask]

print(filtered_df)

          Country  Score
89      Mauritius  0.429
115      Botswana  0.466
118         Ghana  0.471
120       Namibia  0.474
126       Lesotho  0.484
128       Nigeria  0.500
130        Angola  0.505
134    Mozambique  0.517
139          Togo  0.521
140        Zambia  0.521
142         Kenya  0.525
150        Guinea  0.532
151       Senegal  0.532
154        Gambia  0.545
156        Malawi  0.548
158      Zimbabwe  0.554
159       Burundi  0.558
161    Madagascar  0.561
162      Ethiopia  0.563
163  Sierra Leone  0.563
166         Benin  0.572
169        Uganda  0.580
172        Rwanda  0.586
175          Mali  0.598
176       Liberia  0.603
179          Chad  0.658