<a href="https://colab.research.google.com/github/izzymercer/izzymercer.github.io/blob/main/Copy_of_project_chart1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Load the dataset into a pandas dataframe
df = pd.read_csv('chart1_data.csv')

In [ ]:
print(df)

       Country                    Item  Year      Value Flag Description
0       Angola                 Bananas  2018  3954036.0  Official figure
1       Angola              Beans, dry  2018   326393.0    Imputed value
2       Angola                Cabbages  2018   338625.0  Estimated value
3       Angola   Cashew nuts, in shell  2018     2034.0  Estimated value
4       Angola          Cassava, fresh  2018  8730517.0  Official figure
...        ...                     ...   ...        ...              ...
1959  Zimbabwe              Tea leaves  2018     3478.0  Estimated value
1960  Zimbabwe                Tomatoes  2018    25204.0  Estimated value
1961  Zimbabwe  Unmanufactured tobacco  2018   239906.0  Official figure
1962  Zimbabwe            Vanilla, raw  2018       10.0    Imputed value
1963  Zimbabwe                   Wheat  2018    45000.0  Estimated value

[1964 rows x 5 columns]

In [ ]:
df2 = df.drop(['Year', 'Flag Description'], axis=1)

In [ ]:
print(df2)

       Country                    Item      Value
0       Angola                 Bananas  3954036.0
1       Angola              Beans, dry   326393.0
2       Angola                Cabbages   338625.0
3       Angola   Cashew nuts, in shell     2034.0
4       Angola          Cassava, fresh  8730517.0
...        ...                     ...        ...
1959  Zimbabwe              Tea leaves     3478.0
1960  Zimbabwe                Tomatoes    25204.0
1961  Zimbabwe  Unmanufactured tobacco   239906.0
1962  Zimbabwe            Vanilla, raw       10.0
1963  Zimbabwe                   Wheat    45000.0

[1964 rows x 3 columns]

In [ ]:
threshold = 1000000
selected_rows = df2['Value'] > threshold

In [ ]:
df3 = df2[selected_rows]

In [ ]:
df3

       Country            Item      Value
0       Angola         Bananas  3954036.0
4       Angola  Cassava, fresh  8730517.0
11      Angola    Maize (corn)  2765316.0
29      Angola  Sweet potatoes  1688122.0
36       Benin  Cassava, fresh  3819804.0
...        ...             ...        ...
1851    Zambia  Cassava, fresh  4102300.0
1859    Zambia    Maize (corn)  2394907.0
1880    Zambia      Sugar cane  4630000.0
1921  Zimbabwe    Maize (corn)  1560100.0
1955  Zimbabwe      Sugar cane  3582994.0

[145 rows x 3 columns]

In [ ]:
df3['Value_divided'] = df3['Value'] / 100000

<ipython-input-24-536e57894521>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Value_divided'] = df3['Value'] / 100000

In [ ]:
print(df3)

       Country            Item      Value  Value_divided
0       Angola         Bananas  3954036.0       39.54036
4       Angola  Cassava, fresh  8730517.0       87.30517
11      Angola    Maize (corn)  2765316.0       27.65316
29      Angola  Sweet potatoes  1688122.0       16.88122
36       Benin  Cassava, fresh  3819804.0       38.19804
...        ...             ...        ...            ...
1851    Zambia  Cassava, fresh  4102300.0       41.02300
1859    Zambia    Maize (corn)  2394907.0       23.94907
1880    Zambia      Sugar cane  4630000.0       46.30000
1921  Zimbabwe    Maize (corn)  1560100.0       15.60100
1955  Zimbabwe      Sugar cane  3582994.0       35.82994

[145 rows x 4 columns]

In [ ]:
df4 = df3.drop(['Value'], axis=1)

In [ ]:
# Get a list of the items that appear more than 6 times 
items_to_keep = df4['Item'].value_counts()[df4['Item'].value_counts() > 6].index.tolist()


filtered_df = df4.loc[df4['Item'].isin(items_to_keep)]

In [ ]:
print(filtered_df)

       Country            Item  Value_divided
4       Angola  Cassava, fresh       87.30517
11      Angola    Maize (corn)       27.65316
29      Angola  Sweet potatoes       16.88122
36       Benin  Cassava, fresh       38.19804
48       Benin    Maize (corn)       15.09758
...        ...             ...            ...
1851    Zambia  Cassava, fresh       41.02300
1859    Zambia    Maize (corn)       23.94907
1880    Zambia      Sugar cane       46.30000
1921  Zimbabwe    Maize (corn)       15.60100
1955  Zimbabwe      Sugar cane       35.82994

[71 rows x 3 columns]

In [ ]:
filtered_df.to_csv('chart1_data_edited.csv', index=False)

In [ ]:
# Get a list of the unique items in the "Item" column
items = filtered_df['Item'].unique()

# Print the list of items
print(items)

['Cassava, fresh' 'Maize (corn)' 'Sweet potatoes' 'Sugar cane' 'Rice']

In [ ]:
# Get a list of the unique items in the "Item" column
items = filtered_df['Country'].unique()
# Print the list of items
print(items)

['Angola' 'Benin' 'Burkina Faso' 'Burundi' 'Cameroon' 'Congo'
 "Côte d'Ivoire" 'Democratic Republic of the Congo' 'Eswatini' 'Ethiopia'
 'Ghana' 'Guinea' 'Kenya' 'Madagascar' 'Malawi' 'Mali' 'Mauritius'
 'Mozambique' 'Nigeria' 'Rwanda' 'Senegal' 'Sierra Leone' 'South Africa'
 'Togo' 'Uganda' 'United Republic of Tanzania' 'Zambia' 'Zimbabwe']

In [ ]:
print(filtered_df)

       Country            Item  Value_divided
4       Angola  Cassava, fresh       87.30517
11      Angola    Maize (corn)       27.65316
29      Angola  Sweet potatoes       16.88122
36       Benin  Cassava, fresh       38.19804
48       Benin    Maize (corn)       15.09758
...        ...             ...            ...
1851    Zambia  Cassava, fresh       41.02300
1859    Zambia    Maize (corn)       23.94907
1880    Zambia      Sugar cane       46.30000
1921  Zimbabwe    Maize (corn)       15.60100
1955  Zimbabwe      Sugar cane       35.82994

[71 rows x 3 columns]